.paginated {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem; 
}

.numero1 {
    padding: 1rem;
    border-color: black;
    border-radius: 200px;
}

.numero1:hover {
    background-color: rgb(153, 128, 98);
}

.link-nav {
padding: 1rem;
background-color: rgb(8, 122, 122);
border-radius: 1rem;
}

.link-nav:hover{
    background-color: aqua;
}